html, body {
height: 100%;
font-family: Raleway; Helvetica, san-serif;
}

.container-fluid{
height: 100%;
padding: 0px;	
}

#map-canvas { 
margin-right: 15px;
margin-left: 15px;
height: 50%;
}

.title{
font-weight: bold;
}

.status{
color: #fff;
padding: 5px;
border-radius: 5px;
text-align: center;	
}

.project-name{
padding-top: 5px;
}

.project-name:hover{
text-decoration: underline;
}

.good-status{
background-color: #5cb85c;
}

.warning-status{
background-color: #f0ad4e;
}

.bad-status{
background-color: #d9534f;
}

.chart{
	text-align: center
}

.tight{
	margin:0px;
}


@media (min-width: 768px) {
#map-canvas{
margin: 0px;
height: 100%;
}
}